<template>

    <ul class="list">

      <li class="list__item" v-for="(album, index) in albums" :key="index">

        <article class="album" v-bind:class="{'album--show-details' : album.details }">
          
          <header class="album__header">

            <picture class="album__thumb">
              <img class="album__thumb-image" :src="album['im:image'][2].label" :alt="album['title'].label" />
            </picture>

            <h2 class="album__headline">
              <span class="album__title">
                   <span v-if=" album['im:name'].label.length <= 30">{{  album['im:name'].label }}</span>
                  <span v-else>{{ album['im:name'].label.substring(0, 30) }}...</span>

              </span><br />

              <a class="album__artist" v-if="album['im:artist'].attributes" :href="album['im:artist'].attributes.href" target="_blank">
                <span v-if="album['im:artist'].label.length <= 20">{{  album['im:artist'].label }}</span>
                <span v-else>{{ album['im:artist'].label.substring(0, 20) }}...</span>
              </a>
              <span class="album__artist" v-else>{{ album['im:artist'].label }}</span>
            </h2>
            
          <button class="album__details-button" v-on:click="toggleDetails(album)">
            <span v-if="album.details">Hide</span>
            <span v-else>Details</span>
          </button>


          </header>

          <div class="album__details">

            <div class="album__detail">
              <span class="album__detail-label">
                Tracks
              </span>
              <span class="album__detail-value">
                  {{ album['im:itemCount'].label }}
              </span>
            </div>

            <div class="album__detail">
              <span class="album__detail-label">
                Release Date
              </span>
              <span class="album__detail-value">
                  {{ album['im:releaseDate'].attributes.label }}
              </span>
            </div>


            <div class="album__detail">
              <span class="album__detail-label">
                Genree
              </span>
              <span class="album__detail-value">
                  <a :href="album.category.attributes.scheme" target="_blank">
                  {{  album.category.attributes.label }}
                  </a>
              </span>
            </div>
            
            <div class="album__detail">
              <span class="album__detail-label">
                Rights
              </span>
              <span class="album__detail-value">
                  {{  album.rights.label }}
              </span>
            </div>

            <a class="album__store-link" :href="album.link.attributes.href" target="_blank">View album on iTunes</a>
            
          </div>
          
        </article>
      </li>
    </ul>
</template>

<script>
export default {
  props: ['albums'],
  mounted: function() {
    this.$emit('get-albums');
  },
  methods: {
    toggleDetails: function(album) {
      let current = event.currentTarget.closest('.album'),
          active = document.querySelector('.album--show-details');

      if (active && active !== current) {
        let activeIndex = Array.from(document.querySelectorAll('.album')).indexOf(active);
        this.albums[activeIndex].details = false;
      }
      album.details = !album.details;
    }
  }
};
</script>
 