<template>

  <form class="search-form">

    <input class="search-form__input" v-bind:value="searchText" v-on:input="updateValue($event.target.value)" placeholder="Filter results..." />
    
    <span class="search-form__text">{{ resultsText }}</span>

  </form>

</template>

<script>
export default {
    props: ["value", "searchText", "resultsText"],
        methods: {
            updateValue: function (value) {
                this.$emit('input', value)
            }
        }
    }
</script>