<template>

  <div id="app">

     <section class="section">

      <header class="section__header">

        <h1 class="section__headline" v-if="this.feed.author">
          <a :href="this.feed.author.uri.label" target="_blank">
            {{ this.feed.author.name.label }}
          </a>
        </h1>

      </header>

      <SearchComponent v-model="search" :searchText="search" :resultsText="results" />
     
      <AlbumsComponent :albums="albums" @get-albums="getAlbums()" />
    
    </section>

  </div>

</template>

<script>

import SearchComponent from './components/SearchComponent'
import AlbumsComponent from './components/AlbumsComponent'

export default {
  name: 'App', 
  data: function() {
    return {
        search: '',
        feed: {},
    };
  },
  computed: {
    albums: function() { return Array.from(this.feed.entry || []).filter((album) => { return (album["im:name"].label.toLowerCase()).indexOf(this.search.toLowerCase()) !== -1 }) },
    results: function() { 
      let showing = Array.from(this.albums || []).length
      let count = Array.from(this.feed.entry || []).length
      return `Showing  ${showing} from ${count} albums`  }
  },
  methods: {
    // eslint-disable-next-line no-unused-vars
    async getAlbums(resource) {
      this.feed = (await this.$http.get('https://itunes.apple.com/us/rss/topalbums/limit=100/json')).data.feed;
      this.feed.entry.map((album) => { 
        this.$set(album, 'details', false)
        return album })
    }
  },
  components: {
    SearchComponent,
    AlbumsComponent
  }
}
</script>

<style lang="scss">
  @import "./scss/main.scss";
</style>
