@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import "normalizecss";

* {
    box-sizing: border-box;
}

$white: #fff;
  $light-gray: #eee;
  $gray: #ccc;
  $dark-gray: #777;
  $dark: #333;
  $text-color: $dark;
  $primary: darken(yellow, 15%);

  $shadow: 0 3.5px 15px 0 lighten($dark, 20%);

  $padding: 8px;

  $list-item-spacing: 20px;

  $thumb-size: 75px;
  $thumb-size-tablet: 100px;
  $thumb-size-mobile: 85px;

  $border: 1px solid $gray;
  $border-radius: 3px;

  $transition: all 225ms ease-in-out;

  input,
  button {
      outline: none;
  }
  
  button,
  a {
    transition: $transition;
  }
  a {
      color: $primary;
      span {
          color: inherit;
      }
      &:hover {
          color: darken($primary, 10%);
      }
  }

  @mixin button() {
    border: $border;
    border-radius: $border-radius $border-radius $border-radius*2;
    font-size: 0.7em;
    padding: 0 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    white-space: nowrap;
    color: $dark-gray;
    &:hover {
        background-color: $dark;
        color: $white;
    }
  }
  
  body {
    color: $text-color;
    background: $light-gray;
}
#app {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 10vw;
}

  .section {
      //&__header {}
      &__headline {
        a {
            text-decoration: none;
        }
      }
  } 

  .list {

    list-style: none;
    margin: 0 -$list-item-spacing/2;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
        &__item {
            flex: 0 0 25%;
            width: 25%;
            @media screen and (max-width: 1366px) {
                flex: 0 0 33.333333%;
                width: 33.333333%;
            }
            @media screen and (max-width: 1024px) {
                flex: 0 0 50%;
                width: 50%;
            }
            @media screen and (max-width: 767px) {
                flex: 0 0 100%;
                width: 100%;
            }
            
            padding: $list-item-spacing/2;
    
            @for $var from 1 to 100 {
                &:nth-child(#{$var}) { 
                    z-index: #{100-$var};
                }
            }
        }

    }
.album {
    position: relative;
    border: $border;
    border-radius:   $border-radius * 2;
    background: $white;
    &__header {
        display: flex;
        align-items: flex-end;
        margin: 0;
        padding: 0;
    }
    &__thumb {

        display: block;
        overflow: hidden;
        width: $thumb-size;
        height: $thumb-size;
        min-width: $thumb-size;
        flex: 0 0 $thumb-size;
        @media (max-width: 1024px) {
            width: $thumb-size-tablet;
            height: $thumb-size-tablet;
            min-width: $thumb-size-tablet;
            flex: 0 0 $thumb-size-tablet;
        }
        @media (max-width: 767px) {
            width: $thumb-size-mobile;
            height: $thumb-size-mobile;
            min-width: $thumb-size-mobile;
            flex: 0 0 $thumb-size-mobile;
        }
        border-radius: $border-radius 0 0 $border-radius;
        border-right: 1px solid fade_out($dark, 0.8);
        margin: -1px;
        
        &-image {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    
    &__headline {
        padding: $padding;
        margin: 0;
        font-size: 1em;
        line-height: 1.25;
        br {
            display: none;
        }
    }
    &__title {
        display: block;
    }
    &__artist {
        display: block;
        font-size: 0.8em;
        text-decoration: none;
    }
    &__details-button {
        @include button;
        font-size: 0.5em;
        position: absolute;
        bottom: -1px;
        right: -1px;
        padding: $padding/2 $padding;
        outline: none;
        text-align: center;
        &:hover {
            border-color: $dark;
        }
    }
    &__details {
        position: absolute;
        z-index: -1;
        box-shadow: $shadow;
        top: 100%;
        left: -1px;
        width: calc(100% + 2px);
        background: $dark;
        border: inherit;
        border-color: $dark;
        color: $white;
        padding: $padding;
        font-size: 0.75em;
        border-radius: 0 0 $border-radius*2 $border-radius*2;
        transform: translateY(-15px);
        opacity: 0;
        pointer-events: none;
        transition: $transition;
    }
    &__detail {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: $padding*0.85;
        line-height: 1.5;
        transition: $transition;
        border-radius: $border-radius;
        &:hover {
            background: lighten($dark, 2%);
        }
        &:not(:first-child) {
            border-top: 1px dashed fade_out($white, 0.9);
        }
        &-label {
            text-transform: uppercase;
            font-size: 0.65em;
            color: fade_out($white, 0.7);
            letter-spacing: 1px;
        }
        &-value {
            flex-grow: 1;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 0.85em;
            color: fade_out($white, 0.3);
            letter-spacing: 1px;
            overflow: hidden;
            a {
                font-weight: 600;
                color: fade_out($white, 0.3);
                text-decoration: none;
            }
        }
    }
    &__store-link {
        font-size: 0.95em;
        border-radius: $border-radius;
        display: block;
        padding: 0.7em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 1px;
        margin: 1em 0 0 0;
        background-color: $white;
        color: $primary;
        &:hover {
            background-color: $primary;
            color: $white;
            span {
                color: inherit;
            }
        }

    }
    &--show-details {
        .album__details {
            transform: translateY(0px);
            opacity: 1;
            pointer-events: auto;
        }
        .album__details-button {
            border-radius: $border-radius 0 0;
            background-color: $dark;
            border-color: $dark;
            color: $white;
        }
    }
}

.search-form {
    $search-height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1em;
    margin-bottom: $search-height;
    &__input {
        border: $border;
        border-radius: $border-radius;
        height: $search-height;
        margin: 0;
        padding: 0 0.5em;
        font-size: 0.9em;
        width: 50%;
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    &__text {
        font-size: 0.8em;
        padding-left: $padding;
        opacity: 0.7;
        margin-left: auto;
        @media (max-width: 767px) {
            margin-top: 10px;
            width: 100%;
            padding-left: 0;
        }
    }
}